nextflow.enable.dsl=2

includeConfig 'conf/base.config'
includeConfig 'conf/params.config'

process {
  env = [
    PROJECT_DIR: params.project_dir ?: '',
    OUTDIR: params.outdir ?: '',
    FASTA: params.fasta ?: '',
    FASTA_FAI: params.fasta_fai ?: '',
    DICT: params.dict ?: '',
    BWA_INDEX: params.bwa ?: '',
    INTERVALS: params.intervals ?: '',
    KNOWN_SNPS: params.known_snps ?: '',
    KNOWN_INDELS: params.known_indels ?: '',
    TRUTH_VCF: params.truth_vcf ?: '',
    TRUTH_BED: params.truth_bed ?: ''
  ]
}
