params {
  project_dir = "${baseDir}"
  input = null
  outdir = "${baseDir}/results"
  fasta = null
  fasta_fai = null
  dict = null
  bwa = null
  intervals = null
  known_snps = null
  known_indels = null
  truth_vcf = null
  truth_bed = null
  tools = null
  sample_name = 'SIMULATED_SAMPLE'
  readgroup_id = null
  platform = 'ILLUMINA'
  library = 'lib1'
  lane = '1'
  center = null
  instrument = null
  run_setup = true
  run_simulation = true
  run_preprocessing = true
  run_calling = true
  run_benchmark = true
  callers = ['gatk', 'deepvariant', 'strelka2', 'freebayes']
  cpus = 4
  memory = '14 GB'
}
